# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MQL5
*.ex5
Logs
Presets
Files
Libraries
Profiles
Images
Shared Projects
Projects
*.dat
*.ex4
/Scripts/MySQL/SQLite/*.sqlite
*.content
*.index
/Scripts/Examples/DLL/*